html{
    width: 100%;
    height: 100%;
    background-image: url("../image/background.jpg");
}
#title {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-family: 문체부 쓰기 정체;
}
#Login_div{
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.3);
    display : inline-block;
    width : 35%;
    height : 60%;
    margin: auto;
    left: 0;
    right: 0;
    top: 37%;
    bottom: 0;
    padding : 10px 10px 10px 10px;
    color: #ffffff;
}
.LoginBtn{
    font-size : 16px;
    margin-left : 20%;
    margin-top : 3%;
    width: 60%;
    height : 10%;
    border : none;
    background:none;
    color:white;
    border-bottom: 2px solid #ff445c;
}
/*-------------- placeholder 색상 변경---------------------*/
    ::-webkit-input-placeholder { color: #ffffff; }

    /* Firefox 4-18 */
    :-moz-placeholder { color: #ffffff; }

    /* Firefox 19+ */
    ::-moz-placeholder { color: #ffffff; }

    /* IE10+ */
    :-ms-input-placeholder { color: #ffffff; } 
/* -------------------------------------------------------*/
.LoginSub{
    font-size:16px;
    width:45%;
    height: 10%;
    margin-top:23%;
    margin-left:27.5%;
    background-color: #ff919f;
    border:0;
    color:#ffffff;
    font-weight: bolder;
    cursor: pointer;
}
#GoRegister{
    text-align:center;
    font-size:10px;
    text-decoration: underline;
    cursor: pointer;
}
#LoginTitle{
    text-align: center;
    font-size:26px;
}
#RegisterSubmit{
    margin-top:10.3%;
}